@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dfdbe5;
    background-image: url(bck.jpg);
    background-size: cover;
    font-family: 'Amiri', serif;
    unicode-bidi: bidi-override !important;
}

.preloader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--secondary-color);
    background-image: url(move.gif);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: display 0.5s ease-in-out;

}

.container {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 600px;
    margin: 10px;
    background-color: #fff;
    transition: display 0.5s ease-in-out;
}

.container img {
    width: 80px;
    margin-bottom: 20px;
}

.aya {
    text-align: center;
    color: var(--primary-color);
    line-height: 3rem;
}

.surahName {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom:20px
}

hr {
    margin: 10px 0;
    width: 60%;
    border: 1px solid #000000;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.twitter-share-button {
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
    border-radius: 4px;
}

.buttons button {
    cursor: pointer;
    border: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 4px;
}

button:focus {
    outline: none;
}

.fa-twitter {
    margin-right: 5px;
}

/* loader */
.loader {
    width: 100%;
    height: 100%;
    background-color: #F1F2F3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hide {
    display: none;
}
